.header {
  &__container {
    display: flex;
    align-items: center;
    padding: 14px;

    @media (min-width: 768px) {
      padding: 21px;
    }
    @media (min-width: 1728px) {
      text-align: center;
      padding: 77px 84px 226px 84px;
    }
  }
  &__search-btn {
    @include clear-button;
    position: relative;
    margin-left: auto;
    img {
      @media (min-width: 768px) {
        width: 29px;
      }
    }
  }
  &__basket-btn {
    @include clear-button;
    position: relative;
    margin-left: auto;
    img {
      @media (min-width: 768px) {
        width: 32px;
      }
    }
  }
  &__burger {
    @include clear-button;
    position: relative;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__logo {
    margin-right: 119px;
    @media (min-width: 768px) {
      margin-right: 143px;
    }
    @media (min-width: 1728px) {
      margin-right: 363px;
    }
    img {
      @media (min-width: 768px) {
        width: 93px;
      }
    }
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }
  &__counter-item {
    position: absolute;
    display: flex;
    top: -5px;
    right: -5px;
    font-size: 7px;
    line-height: 8px;
    height: 12px;
    width: 12px;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 50%;
    @media (min-width: 768px) {
      font-size: 11px;
      width: 18px;
      height: 18px;
      right: -7px;
      top: -7px;
    }
  }
}
