.main-nav {
  display: block;
  z-index: 3;
  align-items: center;
  font-weight: 400;
  @media (max-width: 767px) {
    padding-top: 78px;
    position: absolute;
    top: 0;
    right: 0;
    width: 57%;
    height: 100vh;
    background-color: #ebebeb;
    z-index: 2;
  }
  &__close {
    @include clear-button;
    margin-left: auto;
    position: absolute;
    display: none;
    width: 11px;
    height: 11px;
    top: 10px;
    right: 10px;
  }
  &__contacts {
    z-index: 3;
    display: none;
  }
  &--showed {
    .main-nav__contacts {
      display: block;
    }
    .main-nav__close {
      display: block;
      top: 18px;
      right: 16px;
    }
  }

  &__list {
    @include clear-list;
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  &__item {
    color: #000;
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 30px;
      text-align: right;
    }
    a {
      @media (max-width: 767px) {
        display: block;
        background-color: #f6f6f6;
        padding: 10px;
        border-bottom: 1px solid #d9d9d9;
      }
      @media (min-width: 768px) {
        padding: 12px;
        font-size: 16px;
        line-height: 25px;
      }
      @media (min-width: 1728px) {
        padding: 18px;
        font-size: 24px;
        line-height: 37px;
      }
    }
    @media (max-width: 767px) {
      &:first-child a {
        border-top: 1px solid #d9d9d9;
      }
    }
  }
  &__social {
    @include clear-list;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    display: flex;
    justify-content: end;
    gap: 20px;
  }
  &__contacts {
    position: absolute;
    bottom: 20px;
    right: 10px;
    margin-top: auto;
    text-align: end;
    width: 153px;
    text-align: right;
    color: #000000bf;
  }
}
