.modal {
    padding: 20px 23px;
    border-radius: 20px;
    background-color: white;
    box-shadow: -1px 3px 17px 3px rgb(0 0 0 / 20%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;

    &--hidden {
        display: none;
    }

    &--size {
        width: 300px;

        @media (min-width: 768px) {
            width: 464px;
        }    
    }

    &__close {
        width: 11px;
        height: 11px;
        position: absolute;
        top: 10px;
        right: 13px;

        @media (min-width: 768px) {
            width: 20px;
            height: 20px;
        }
    }

    &__text {
        display: block;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 15px;
        color: #000;

        @media (min-width: 768px) {
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 25px;
        }

        &--red {
            color: #DC4B54;
        }
    }

    &__description {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 12px;

        @media (min-width: 1728px) {
            font-size: 20px;
        }
    }

    &__continue {
        width: 254px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        padding: 12px 30px;
        color: white;
        background-color: black;
        box-shadow: -2px 12px 85px 0 rgb(0 0 0 / .2);

        @media (min-width: 768px) {
            width: 312px;
            font-size: 24px;
            line-height: 36px;
            padding: 13px 20px;
        }

        &--hidden {
            display: none;
        }
    }
}